:root{
  	--fontFamily: {{fontFamily}};
    --fontColor: {{fontColor}};
    --fontBorderColor: {{fontBorderColor}};
    --fontBorderWeight: {{fontBorderWeight}}px;

    --fontSize: {{fontSize}}px;

    --gooseAnimSpeed: {{gooseAnimSpeed}}s;
    --gooseColor: {{gooseColor}};
    --gooseAnimColor: {{gooseAnimColor}};
  
  	--defaultGlow: {{defaultGlow}}
}

* {
    font-family: var(--fontFamily);
    color: var(--fontColor);
    text-align: center;
    font-size: var(--fontSize);
    text-shadow: -1px 0 var(--fontBorderColor), 0 1px var(--fontBorderColor), 1px 0 var(--fontBorderColor), 0 -1px var(--fontBorderColor);
}

.main-container {
    display: grid;
    justify-content: stretch;
    grid-template-areas:
          "header header header"
          "left center right"
          "footer footer footer"
          "subfooter subfooter subfooter";
    grid-template-columns: 2fr 200px 2fr;
    grid-template-rows: 42px 1fr 1fr;
}

#header {
    align-self: center;
    font-size: 1.125rem;
    grid-area: header;
}

#footer {
    align-self: start;
    font-size: 1.125rem;
    grid-area: footer;
}

#subfooter {
    grid-area: subfooter;
    font-size: 0.8rem;
}

#left-container, #right-container {
    font-size: 1rem;
    place-self: center stretch;
}

#left-container {
    text-align: right;
    grid-area: left;
}

#right-container {
    text-align: left;
    grid-area: right;
}

.goose-container {
    grid-area: center;
    display: grid;
}

.top-layer-goose {
    fill: var(--gooseColor);
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    animation: color-flow var(--gooseAnimSpeed) infinite /*alternate*/;
}

.glow-layer-goose {
    fill: var(--defaultGlow);
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    filter: blur(5px);
    opacity: 1;
    transform: scale(1);
    transition: fill 0s, width 0s;
}

@keyframes color-flow {
    0% {
        fill: var(--gooseColor)
    }
    50% {
        fill: var(--gooseAnimColor)
    }
    100% {
        fill: var(--gooseColor)
    }
}
