* {
  	font-family: Bahnschrift;
    color: {{fontColor}};
    font-size: 14px;
   	text-shadow: 2px 1px 3px #ffffff;
}

.main-container {
  display: grid;
  justify-content: stretch;
  grid-template-columns: 3fr 300px 3fr;
  grid-template-rows: 42px 1.5fr 1fr;
}

.header-text {
  text-align: center;
  align-self: center;
  color: {{headerColor}};
  font-size: {{headerFontSize}}px;
  grid-column: 2;
  grid-row: 1;
}

.footer-text{
  text-align: center;
  align-self: start;
  color: {{footerColor}};
  font-size: {{footerFontSize}}px;
  grid-column: 2;
  grid-row: 3;
}

.follower-container, .train-container {
  font-size: {{fontSize}}px;
  place-self: center stretch;
}

.follower-container {
  text-align: right;
  grid-column: 1;
  grid-row: 2;
}

.train-container {
  text-align: left;
  grid-column: 3;
  grid-row: 2;
}

.goose-container {
  grid-column: 2;
  grid-row: 2;
  display: grid;
}

svg.top-layer-goose {
  fill: {{gooseColor}};
  grid-column: 1;
  grid-row: 1;
  z-index:2;
}

svg.glow-layer-goose {
  fill: #ffffff;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  filter: blur(5px);
  opacity:1;
  transform:scale(1);
  transition: fill 0s, width: 0s;
}
